@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Kalam:wght@300;400;700&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 25px;

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body {
    background-color: rgb(7, 7, 7);
}
